<launch>

  <!-- Launch tracker -->
  <include file="$(find eyecu)/launch/eyecu_emotion.launch"/>

  <!-- Launch serial communication with arduino -->
  <include file="$(find eyecu)/launch/arduino_connect.launch"/>

  <!-- Launch transforms -->
  <include file="$(find eyecu)/launch/static_transforms.launch.xml"/>

  <!-- Starting face tracker nodes -->
  <include file="$(find eyecu_control)/launch/start_dynamixel.launch"/>

  <!-- <group ns="right_eye">
    <node name="face_controller" pkg="eyecu_control" type="eyecu_control" output="screen"/>

    <node name="motor_state" pkg="eyecu_control" type="motor_state_broadcaster" output="screen">
      <param name="eye_link" value="right_eye_link"/>
      <param name="tilt_link" value="right_eye_tilt_link"/>
      <param name="gaze_link" value="right_eye_gaze_link"/>
    </node>
  </group> -->

  <group ns="left_eye">
    <node name="face_controller" pkg="eyecu_control" type="eyecu_control" output="screen"/>

    <node name="motor_state" pkg="eyecu_control" type="motor_state_broadcaster" output="screen">
      <param name="eye_link" value="left_eye_link"/>
      <param name="tilt_link" value="left_eye_tilt_link"/>
      <param name="gaze_link" value="left_eye__gazelink"/>
    </node>
  </group>

</launch>
